<a href="https://colab.research.google.com/github/Nazneen-akram/coursera-rep/blob/main/single_line_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#One-line For Loop

In [2]:
mylist = [200, 300, 400, 500]

In [3]:
result = [x for x in mylist if x > 250]
print(result) # [300, 400, 500]

[300, 400, 500]

In [4]:
x = 0
while x < 5: print(x); x= x + 1

0
1
2
3
4

In [7]:
#if Else In a single line.
#Example 1 if else
print("Yes") if 8 > 9 else print("No") # No
#Example 2 if elif else
E = 2
print("High") if E == 5 else print("Data Studio") if E == 2 else print("Low") # Data STUDIO

#Example 3 only if
if 3 > 2: print("Exactly") # Exactly

No
Data Studio
Exactly

In [8]:
# Merging dictionaries in one line
d1 = { 'A': 1, 'B': 2 }
d2 = { 'C': 3, 'D': 4 }
#Method1
d1.update(d2)
print(d1) # {'A': 1, 'B': 2, 'C': 3, 'D': 4}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [9]:
#Method2
d3 = {**d1, **d2}
print(d3) # {'A': 1, 'B': 2, 'C': 3, 'D': 4}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [10]:
#Function in one line
#Method1
def fun(x): return True if x % 2 == 0 else False
print(fun(2)) # False
#Method2
fun = lambda x : x % 2 == 0
print(fun(2)) # True
print(fun(3)) # False

True
True
False

In [11]:
# Single-line recursion
#Fibonaci Single-line recursion example
def Fib(x): return 1 if x in {0, 1} else Fib(x-1) + Fib(x-2)
print(Fib(5)) # 8
print(Fib(15)) # 987

8
987

In [12]:
# Filtering arrays in a single line
mylist = [2, 3, 5, 8, 9, 12, 13, 15]
#Normal way
result = []
for x in mylist:
    if x % 2 == 0:
        result.append(x)
print(result) # [2, 8, 12]
# One-line method
result = [x for x in mylist if x % 2 == 0]
print(result) # [2, 8, 12]

[2, 8, 12]
[2, 8, 12]

In [13]:
# Exception handling in one line
#Original method
try:
    print(x)
except:
    print("Error")
#Single line way
exec('try:print(x) \nexcept:print("Error")') # Error

15
15

In [14]:
# Dictionary in one line
mydict = ["John", "Peter", "Mathew", "Tom"]
mydict = dict(enumerate(mydict))
print(mydict) # {0: 'John', 1: 'Peter', 2: 'Mathew', 3: 'Tom'}

{0: 'John', 1: 'Peter', 2: 'Mathew', 3: 'Tom'}

In [15]:
#Multiple variable assignments in one line.
#Single-line method
x = 5
y = 7
z = 10
print(x , y, z) # 5 7 10
#Single line way
a, b, c = 5, 7, 10
print(a, b, c) # 5 7 10

5 7 10
5 7 10

In [16]:
#Swap values in one line
#Single-line method
v1 = 100
v2 = 200
temp = v1
v1 = v2
v2 = temp
print(v1, v2) # 200 100
# One-line value swapping
v1, v2 = v2, v1
print(v1, v2) # 200 100

200 100
100 200

In [17]:
# Sort in one line
mylist = [32, 22, 11, 4, 6, 8, 12]
# Method1
mylist.sort()
print(mylist) # # [4, 6, 8, 11, 12, 22, 32]
print(sorted(mylist)) # [4, 6, 8, 11, 12, 22, 32]

[4, 6, 8, 11, 12, 22, 32]
[4, 6, 8, 11, 12, 22, 32]

In [18]:
#Reading a file in one line
#Single-line method
with open("data.txt", "r") as file:
    data = file.readline()
    print(data) # Hello world
#Single line way
data = [line.strip() for line in open("data.txt","r")]
print(data) # ['hello world', 'Hello Python']

FileNotFoundError: [Errno 2] No such file or directory: 'data.txt'

In [22]:
# One-line class
#Regular way
class Emp:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        emp1 = Emp("Andrew", 22)
        print(emp1.name, emp1.age) #
#Single line way
#Method 1 Lambda with Dynamic Attributes

Emp = lambda:None; Emp.name = "Anthony"; Emp.age = 22
print(Emp.name, Emp.age) #

#Method 2
from collections import namedtuple
Emp = namedtuple('Emp', ["name", "age"]) ("a44", 22)
print(Emp.name, Emp.age)

Anthony 22
a44 22

In [23]:
# One-line semicolon
# exsample 1
a = "Python"; b = "Programming"; c = "languages"; print(a, b, c)
# print
# Python Programming languages

Python Programming languages

In [24]:
# One line print
#Single-line method
for x in range(1, 5):
    print(x) # 1 2 3 4
#Single line way
print(*range(1, 5)) # 1 2 3 4
print(*range(1, 6)) # 1 2 3 4 5

1
2
3
4
1 2 3 4
1 2 3 4 5

In [25]:
#One line map function
print(list(map(lambda a: a + 2, [5, 6, 7, 8, 9, 10])))
# print
# [7, 8, 9, 10, 11, 12]

[7, 8, 9, 10, 11, 12]

In [26]:
# Deleting the Mul elements from the first row of the list
mylist = [100, 200, 300, 400, 500]
del mylist[1::2]
print(mylist) # [100, 300, 500]

[100, 300, 500]

In [27]:
# One line print pattern#
# Single-line method
for x in range(3):
    print('ðŸ˜€')
# print
# ðŸ˜€ ðŸ˜€ ðŸ˜€
#Single line way
print('ðŸ˜€' * 3) # ðŸ˜€ ðŸ˜€ ðŸ˜€
print('ðŸ˜€' * 2) # ðŸ˜€ ðŸ˜€
print('ðŸ˜€' * 1) # ðŸ˜€

ðŸ˜€
ðŸ˜€
ðŸ˜€
ðŸ˜€ðŸ˜€ðŸ˜€
ðŸ˜€ðŸ˜€
ðŸ˜€

In [28]:
# Find primes in a range in a single line of code
print(list(filter(lambda a: all(a % b != 0 for b in range(2, a)),
                  range(2,20))))
# print
# [2, 3, 5, 7, 11, 13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]