<a href="https://colab.research.google.com/github/Nazneen-akram/coursera-rep/blob/main/Strings(methods).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Using the index method, find out the position of "x" in **"supercalifragilisticexpialidocious"**.

```
word = "supercalifragilisticexpialidocious"
print()

```

In [2]:
word = "supercalifragilisticexpialidocious"
print(word.index('x'))

21

In [9]:
print(word.index('cali'))

5

####Substring contained in string?

In [3]:
pets = 'Cats & Dogs'

'Cats' in pets

True

In [7]:
'Dragons' in pets

False

In [14]:
def replace_domain(email,old_domain,new_domain):
  if old_domain in email:
    index = email.index('@')
    new_email = email[:index] + '@' + new_domain
    return new_email


replace_domain("nazneen.akram@email.com","email.com","email.edu")

'nazneen.akram@email.edu'

In [16]:
#We can locate the index that contains the letter g using animals.index("g"), which will return the index; in this case 8
animals = "lions tigers and bears"
animals.index("g")

8

In [17]:
#We can also use substrings to locate the index where the substring begins. animals.index("bears") would return 17, since that’s the start of the substring
animals = "lions tigers and bears"
animals.index("bears")

17

In [18]:
# If we try to locate a substring that doesn't exist in the string, we’ll receive a ValueError explaining that the substring was not found.
animals = "lions tigers and bears"
animals.index("horses")

ValueError: ignored

In [19]:
#We can avoid a ValueError by first checking if the substring exists in the string. This can be done using the in keyword.
animals = "lions tigers and bears"
"horses" in animals

False

In [20]:
#If we did "tigers" in animals, we'd get True, since this substring is contained in our string.
animals = "lions tigers and bears"
"tigers" in animals

True

In [1]:
#join method of string
" ".join(["This","is","a","sentence"])

'This is a sentence'

####Modify the student_grade function using the format method, so that it returns the phrase "X received Y% on the exam". For example, student_grade("Reed", 80) should return "Reed received 80% on the exam".

In [2]:
def student_grade(name, grade):
	return f"{name} received {grade}% on the exam"

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

In [4]:
# string.replace(old, new)
text = "Hello world"
new_text = text.replace("world", "Bing") # replace "world" with "Bing"
print(new_text)

Hello Bing

In [5]:
# "base string with {} placeholders".format(variables)

example = "format() method"

formatted_string = "this is an example of using the {} on a string".format(example)

print(formatted_string)

"""Outputs:
this is an example of using the format() method on a string
"""

this is an example of using the format() method on a string

'Outputs:\nthis is an example of using the format() method on a string\n'

In [6]:
#If the placeholders indicate a number, they’re replaced by the variable corresponding to that order (starting at zero).
# "{0} {1}".format(first, second)

first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

"""Outputs:
apple carrot banana
"""

apple carrot banana

'Outputs:\napple carrot banana\n'

In [12]:
#If the placeholders include a colon, what comes after the colon is a formatting expression. See below for the expression reference.
# {:d} integer value
var1=10.25
print('{var1:d}.format(10.5)')
#'{:d}'.format(10.5) → '10'

{var1:d}.format(10.5)

In [15]:
item= 'Banana'
amount = 1
price = 2.555
"Item: %s - Amount: %d - Price: %.2f" % (item, amount, price)

'Item: Banana - Amount: 1 - Price: 2.56'

In [20]:
# define a dictionary with two keys and values
data = {"name": "Alice", "age": 25}
# define a string with placeholders
template = "Hello, %(name)s. You are %(age)d years old."
# create a new string by replacing the placeholders with the values from the dictionary
message = template % data
# print the new string
print(message)

Hello, Alice. You are 25 years old.

In [21]:
# This function checks a given schedule entry for an old date and, if
# found, the function replaces it with a new date.
def replace_date(schedule, old_date, new_date):

    # Check if the given "old_date" appears at the end of the given
    # string variable "schedule".
    if schedule.endswith(old_date):

        # If True, the body of the if-block will run. The variable "n" is
        # used to hold the slicing index position. The len() function
        # is used to measure the length of the string "new_date".
        p = len(old_date)

        # The "new_schedule" string holds the updated string with the
        # old date replaced by the new date. The schedule[:-p] part of
        # the code trims the "old_date" substring from "schedule"
        # starting at the final index position (or right-side) counting
        # towards the left the same number of index positions as
        # calculated from len(old_date). Then, the code schedule[-p:]
        # starts the indexing position at the slot where the first
        # character of the "old_date" used to be positioned. The
        # .replace(old_date, new_date) code inserts the "new_date" into
        # the position where the "old_date" used to exist.
        new_schedule = schedule[:-p] + schedule[-p:].replace(old_date, new_date)

        # Returns the schedule with the new date.
        return new_schedule

    # If the schedule does not end with the old date, then return the
    # original sentence without any modifications.
    return schedule


print(replace_date("Last year’s annual report will be released in March 2023", "2023", "2024"))
# Should display "Last year’s annual report will be released in March 2024"
print(replace_date("In April, the CEO will hold a conference", "April", "May"))
# Should display "In April, the CEO will hold a conference"
print(replace_date("The convention is scheduled for October", "October", "June"))
# Should display "The convention is scheduled for June"

Last year’s annual report will be released in March 2024
In April, the CEO will hold a conference
The convention is scheduled for June

In [22]:
def is_palindrome(input_string):
    # Two variables are initialized as string date types using empty
    # quotes: "reverse_string" to hold the "input_string" in reverse
    # order and "new_string" to hold the "input_string" minus the
    # spaces between words, if any are found.
    new_string = ""
    reverse_string = ""

    # Complete the for loop to iterate through each letter of the
    # "input_string"
    for letter in input_string:

        # The if-statement checks if the "letter" is not a space.
        if letter != " ":

            # If True, add the "letter" to the end of "new_string" and
            # to the front of "reverse_string". If False (if a space
            # is detected), no action is needed. Exit the if-block.
            new_string = new_string + letter.lower()
            reverse_string = letter.lower() + reverse_string

    # Complete the if-statement to compare the "new_string" to the
    # "reverse_string". Remember that Python is case-sensitive when
    # creating the string comparison code.
    if new_string == reverse_string:

        # If True, the "input_string" contains a palindrome.
        return True

    # Otherwise, return False.
    return False


print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

####Using the format method, fill in the gaps in the convert_distance function so that it returns the phrase "X miles equals Y km", with Y having only 1 decimal place. For example, convert_distance(12) should return "12 miles equals 19.2 km".

In [23]:
def convert_distance(miles):
    km = miles * 1.6
    result = "{} miles equals {:.1f} km".format(miles,km)
    return result


print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

####Question 3
If we have a string variable named Weather = "Rainfall", which of the following will print the substring "Rain" or all characters before the "f"?

In [25]:
Weather = "Rainfall"
print(Weather[:4])

Rain

####Question 4
Fill in the gaps in the nametag function so that it uses the format method to return first_name and the first initial of last_name followed by a period. For example, nametag("Jane", "Smith") should return "Jane S."

In [26]:
def nametag(first_name, last_name):
    return("{} {:.1}".format(first_name,last_name[0]))


print(nametag("Jane", "Smith"))
# Should display "Jane S."
print(nametag("Francesco", "Rinaldi"))
# Should display "Francesco R."
print(nametag("Jean-Luc", "Grand-Pierre"))
# Should display "Jean-Luc G."

Jane S
Francesco R
Jean-Luc G