<a href="https://colab.research.google.com/github/Nazneen-akram/coursera-rep/blob/main/Strings(methods).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Using the index method, find out the position of "x" in **"supercalifragilisticexpialidocious"**.

```
word = "supercalifragilisticexpialidocious"
print()

```

In [2]:
word = "supercalifragilisticexpialidocious"
print(word.index('x'))

21

In [9]:
print(word.index('cali'))

5

####Substring contained in string?

In [3]:
pets = 'Cats & Dogs'

'Cats' in pets

True

In [7]:
'Dragons' in pets

False

In [14]:
def replace_domain(email,old_domain,new_domain):
  if old_domain in email:
    index = email.index('@')
    new_email = email[:index] + '@' + new_domain
    return new_email


replace_domain("nazneen.akram@email.com","email.com","email.edu")

'nazneen.akram@email.edu'

In [16]:
#We can locate the index that contains the letter g using animals.index("g"), which will return the index; in this case 8
animals = "lions tigers and bears"
animals.index("g")

8

In [17]:
#We can also use substrings to locate the index where the substring begins. animals.index("bears") would return 17, since that’s the start of the substring
animals = "lions tigers and bears"
animals.index("bears")

17

In [18]:
# If we try to locate a substring that doesn't exist in the string, we’ll receive a ValueError explaining that the substring was not found.
animals = "lions tigers and bears"
animals.index("horses")

ValueError: ignored

In [19]:
#We can avoid a ValueError by first checking if the substring exists in the string. This can be done using the in keyword.
animals = "lions tigers and bears"
"horses" in animals

False

In [20]:
#If we did "tigers" in animals, we'd get True, since this substring is contained in our string.
animals = "lions tigers and bears"
"tigers" in animals

True

In [1]:
#join method of string
" ".join(["This","is","a","sentence"])

'This is a sentence'

####Modify the student_grade function using the format method, so that it returns the phrase "X received Y% on the exam". For example, student_grade("Reed", 80) should return "Reed received 80% on the exam".

In [2]:
def student_grade(name, grade):
	return f"{name} received {grade}% on the exam"

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

In [4]:
# string.replace(old, new)
text = "Hello world"
new_text = text.replace("world", "Bing") # replace "world" with "Bing"
print(new_text)

Hello Bing

In [5]:
# "base string with {} placeholders".format(variables)

example = "format() method"

formatted_string = "this is an example of using the {} on a string".format(example)

print(formatted_string)

"""Outputs:
this is an example of using the format() method on a string
"""

this is an example of using the format() method on a string

'Outputs:\nthis is an example of using the format() method on a string\n'

In [6]:
#If the placeholders indicate a number, they’re replaced by the variable corresponding to that order (starting at zero).
# "{0} {1}".format(first, second)

first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

"""Outputs:
apple carrot banana
"""

apple carrot banana

'Outputs:\napple carrot banana\n'

In [12]:
#If the placeholders include a colon, what comes after the colon is a formatting expression. See below for the expression reference.
# {:d} integer value
var1=10.25
print('{var1:d}.format(10.5)')
#'{:d}'.format(10.5) → '10'

{var1:d}.format(10.5)

In [15]:
item= 'Banana'
amount = 1
price = 2.555
"Item: %s - Amount: %d - Price: %.2f" % (item, amount, price)

'Item: Banana - Amount: 1 - Price: 2.56'